/* Global styles only */

:root {
	/* Typography */
	--font: 'DM Sans', monospace;
	--fsize-default: 18px;
	--fsize-adj: 0.5;
	--fsize-body: 1em;
	--fsize-h1: 2em;
	--fsize-h2: 1.625em;
	--fsize-h3: 1.357em;
	--fize-h4: 1.125em;
	--fize-h5: 1.111em;
	--fsize-h6: 1.111em;
	--fsize-quote: 1.25em;
	--lh-body: 1.5;
	--lh-h1: 1.25;
	--lh-h2: 1.154;
	--lh-h3: 1.363;
	--lh-h4: 1.111;
	--lh-h5: 1;
	--lh-h6: 1;
	--lh-quote: 1.25;
	/* TODO: smaller scales for smaller devices */
	/* Spacing units */
	--unit: 5px;
	--single: var(--unit);
	--double: calc(var(--unit) * 2);
	--triple: calc(var(--unit) * 3);
	--quad: calc(var(--unit) * 4);
	--base: calc(var(--unit) * 5);
	--ten: calc(var(--unit) * 10);
	/* Colors */
	--accent: hsla(201, 95, 45, 1);
	--main-100: hsla(201, 94, 73, 1);
	--main-200: hsla(201, 95, 45, 1);
	--main-300: hsla(201, 100, 20, 1);
	--main-400: hsla(201, 100, 15, 1);
	--black: hsla(0, 0, 13, 1);
	--grey: hsla(300, 0, 54);
	--white: hsla(0, 0, 100, 1);
}

.emphasis {
	font-style: italic;
	font-weight: bold;
}

/* NormalizeCSS overrides */

html {
	box-sizing: border-box;
	font-family: var(--font);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
	margin: 0;
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size-adjust: var(--fsize-adj);
}

body {
	font-size: var(--fsize-default);
}

body,
p {
	font-size: var(--fsize-body);
	line-height: var(--lh-body);
	margin-bottom: var(--fsize-body);
}

h1 {
	font-size: var(--fsize-h1);
	line-height: var(--lh-h1);
	margin-bottom: var(--fsize-h1);
}

h2 {
	font-size: var(--fsize-h2);
	line-height: var(--lh-h2);
	margin-bottom: var(--fsize-h2);
}
h3 {
	font-size: var(--fsize-h3);
	line-height: var(--lh-h3);
	margin-bottom: var(--fsize-h3);
}
h4 {
	font-size: var(--fsize-h4);
	line-height: var(--lh-h4);
	margin-bottom: var(--fsize-h4);
}
h5 {
	font-size: var(--fsize-h5);
	line-height: var(--lh-h5);
	margin-bottom: var(--fsize-h5);
}
h6 {
	font-size: var(--fsize-h6);
	line-height: var(--lh-h6);
	margin-bottom: var(--fsize-h6);
}
blockquote {
	font-size: var(--fsize-quote);
	line-height: var(--lh-quote);
	margin-bottom: var(--fsize-quote);
}

ul {
	list-style: none;
}

input,
textarea,
select,
button {
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
	border: 1px solid gray;
}

button {
	border-radius: 0;
	padding: 0.75em 1em;
	background-color: transparent;
}

/* This is mainly used for JavaScript interaction.
/ (When users click on something in a button, event.target 
/ is the thing they clicked on, not the button. 
/ This style makes it easier to work with click events if there are 
/ HTML elements inside a button).
*/
button * {
	pointer-events: none;
}

noscript {
	display: block;
	margin-bottom: 1em;
	margin-top: 1em;
}
